/* ↓↓↓ ---- ON BOARDING ---- ↓↓↓ */

/* general */
/* ------- */
.profile {
    border-top: solid 1px rgb(181, 211, 183);
    background-color: rgb(243, 253, 246);
}

.profile form{
    display: flex;
    justify-content: center;
}

.profile form section{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 35%;
    text-align: start;
}

.profile form input {
    padding: 15px 15px;
    margin: 10px 0px;
    font-size: 15px;
    border: solid 2px rgb(185, 185, 185);
    border-radius: 10px
    
}

.profile form label {
    margin: 10px 0px;
} 

.profile form input::-webkit-inner-spin-button,
.profile form input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

/* ------- */




/* profile photo */

.profile form .photo-upload-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile form .photo-container{
    height: 200px;
    width: 200px;
    box-shadow: 0 0 0 1px var(--color-avatar-border);
    display: flex;
    flex-direction: column;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
    filter: drop-shadow(2px 2px 5px rgb(185, 185, 185));
}

/* .profile form #pic-upload-button{
    height: 40px;
    width: 200px;
    position: absolute;
    text-align: center;
    margin-top: 175px;
    color: rgb(128, 33, 184);
    font-style: italic;
} */
/* ------------- */




/* name */
.profile form .name-input-container{
    display: flex;
    flex-direction: row;
}

.profile form .name-input-container input{
    width: 50%;
}

.profile form .name-input-container #first-name{
    margin-right: 10px;
}
/* ---- */




/* address */
.profile form .address-input-container-container{
    display: flex;
    flex-direction: column;
}

.profile form .address-input-container .street-address-container{
    display: flex;
}

.profile form .address-input-container #address_number{
    margin-right: 10px;
}

.profile form .address-input-container #address_street{
    width: 80%;
}

.profile form .multiple-input-container{
    display: flex;
    flex-direction: row;
}

.profile form #address_city{
    margin-right: 10px;
    width: 70.5%;
}
/* ------- */




/* precheck */
.request-precheck-container{
    margin: 10px 0;
    padding: 0px 15px 10px 0;
}

/* tooltip */
.profile form input[type="checkbox"]{
        margin: 0 20px;
        font-size: 20px;
        align-self: baseline;
    }

   .profile form .tooltip-text {
       visibility: hidden;
       position: absolute;
       z-index: 1;
       width: 100px;
       color: rgb(255, 255, 255);
       font-size: 0.6em;
       background-color: rgb(128, 33, 184);
       border-bottom: 3px solid rgb(32, 172, 54);
       border-right: 3px solid rgb(32, 172, 54);
       border-radius: 10px;
       padding: 10px 15px 10px 15px;
       margin-right: 10px;
   }

.profile form .tooltip-text::before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    background-color: rgb(128, 33, 184);
    padding: 5px;
    z-index: 2;
}
    
.profile form .hover-text:hover .tooltip-text {
    visibility: visible;
}

.profile form .hover-text {
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-bottom: -10px ;
    font-size: 1.4em;
    font-style: bold;
    color: rgb(128, 33, 184);
}

.profile form #right {
    top: -35px;
    left: 130%;
}
    
.profile form #right::before {
    top: 35%;
    left: -2%;
}
/* ------- */
/* ------- */




/* adopt or foster */

/* --------------- */




/* pets interest */
.profile form .multiple-input-container input{
    margin-right: 10px;   
}

.profile form .multiple-input-container label{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: solid 2px rgb(185, 185, 185);
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
}

.profile form input[type="radio"]{
    display: none;
}
/* ------------ */





.profile form .number-input {
    width: 100px;
}

.profile form input[type="radio"]:checked + label {
    color: rgb(255, 255, 255);
    border: 3px transparent;
    background-color: rgb(128,33,184);
    border: 2px solid rgb(128, 33, 184);
    transition: linear 0.2s;

}

.profile form input[type="radio"]:hover + label {
    background-color: rgb(32, 172, 54);
    border: 2px solid rgb(32, 172, 54);
}

.profile form input[type="submit"]:active {
    background-color: rgb(128, 33, 184);
    color: rgb(255, 255, 255);
    border: 3px solid rgb(32, 172, 54);
}

.profile form input[type="submit"]:hover {
    background-color: rgb(235, 235, 235);
}


